#wpbody {
  position: static; }

#wpfooter {
  display: none; }

.admin-search {
  display: flex;
  margin: 0;
  padding: 20px 20px 0 0;
  width: 100%;
  box-sizing: border-box; }
  .admin-search * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  .admin-search .search-block {
    flex: 1;
    padding: 0 10px 0 0;
    max-width: 50%; }
  .admin-search .settimgs-block {
    flex: 1;
    padding: 0 0 0 10px;
    max-width: 50%; }
  .admin-search .search-input-block {
    margin: 0 0 25px 0; }
    .admin-search .search-input-block .search-input {
      display: block;
      padding: 7px 10px;
      width: 100%;
      font: 400 21px/24px "Roboto", sans-serif; }
      .admin-search .search-input-block .search-input::-webkit-input-placeholder {
        color: #999; }
      .admin-search .search-input-block .search-input:-moz-placeholder {
        color: #999; }
      .admin-search .search-input-block .search-input::-moz-placeholder {
        color: #999; }
      .admin-search .search-input-block .search-input:-ms-input-placeholder {
        color: #999; }
  .admin-search .search-loader {
    position: relative;
    display: block;
    margin: 50px auto 0 auto;
    max-width: 300px;
    height: 10px;
    background: transparent; }
    .admin-search .search-loader span {
      position: absolute;
      left: 0;
      opacity: 0;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #0073AA; }
      .admin-search .search-loader span:nth-child(1) {
        animation: loader 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite; }
      .admin-search .search-loader span:nth-child(2) {
        animation: loader 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.25s infinite; }
      .admin-search .search-loader span:nth-child(3) {
        animation: loader 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s infinite; }
      .admin-search .search-loader span:nth-child(4) {
        animation: loader 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.75s infinite; }
      .admin-search .search-loader span:nth-child(5) {
        animation: loader 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s infinite; }

@keyframes loader {
  0% {
    left: 0;
    opacity: 0;
    transform: scale(0.5); }
  50% {
    opacity: 1;
    transform: scale(1.5); }
  100% {
    left: calc(100% - 10px);
    opacity: 0;
    transform: scale(0.5); } }
  .admin-search .search-results-block .search-result {
    margin: 0 0 30px 0; }
    .admin-search .search-results-block .search-result .title {
      margin: 0 0 5px 0; }
      .admin-search .search-results-block .search-result .title a {
        font: 400 21px/24px "Roboto", sans-serif;
        text-decoration: none; }
        .admin-search .search-results-block .search-result .title a:focus {
          box-shadow: none; }
        .admin-search .search-results-block .search-result .title a .marker {
          color: #ff6000; }
      .admin-search .search-results-block .search-result .title .post_type {
        position: relative;
        top: -2px;
        display: inline-block;
        margin: 0 0 0 5px;
        padding: 0 10px 2px 10px;
        line-height: 20px;
        color: #fff;
        text-transform: capitalize;
        background: #2ca02c;
        border-radius: 50px; }
    .admin-search .search-results-block .search-result .snippet p {
      font: 400 15px/21px "Roboto", sans-serif; }
      .admin-search .search-results-block .search-result .snippet p .marker {
        color: #ff6000; }
  .admin-search .select-post-types .post-type {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0; }
    .admin-search .select-post-types .post-type .post-type-checkbox {
      position: relative;
      display: inline-block;
      margin: 0 10px 0 0;
      width: 40px;
      height: 20px;
      background: #999;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.3s; }
      .admin-search .select-post-types .post-type .post-type-checkbox:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff; }
      .admin-search .select-post-types .post-type .post-type-checkbox.active {
        background: #0073AA; }
        .admin-search .select-post-types .post-type .post-type-checkbox.active:before {
          left: auto;
          right: 2px; }
    .admin-search .select-post-types .post-type .post-type-label {
      font: 400 14px/18px "Roboto", sans-serif;
      text-transform: capitalize; }
