$f1: 'Roboto', sans-serif;

@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder           { @content; }
	&::-moz-placeholder          { @content; }
	&:-ms-input-placeholder      { @content; }  
}

@mixin cf ( $ie6: false ) {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    @if $ie6 != false {
        & {
            zoom: 1;
        }
    }
}

// #adminmenumain {
// 	display: none;
// }
// #wpcontent {
// 	margin-left: 0;
// }
#wpbody {
	position: static;
}
#wpfooter {
	display: none;
}

.bmw_parser-admin {
	
}